<mat-table [dataSource]="dataSourceConsolidatedCategory" class="mat-elevation-z8">
    <ng-container matColumnDef="descricao">
        <mat-header-cell *matHeaderCellDef> Categoria </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.descricao}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="valor">
        <mat-header-cell *matHeaderCellDef> Valor </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.valor | currency:'R$':'symbol':'1.2-2':'pt'}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumnsCategory"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumnsCategory;"></mat-row>
</mat-table>