<mat-tab-group>

    <mat-tab label="Lista Geral">
        <app-lista-geral> </app-lista-geral>
    </mat-tab>
    <mat-tab label="Lista Por Mês">
        <app-lista-mes></app-lista-mes>
    </mat-tab>
    <mat-tab label="Lista Por Categoria">
        <app-lista-categoria></app-lista-categoria>
    </mat-tab>
</mat-tab-group>