<mat-table [dataSource]="dataSourceReleases" class="mat-elevation-z8">
    <ng-container matColumnDef="valor">
        <mat-header-cell *matHeaderCellDef> Valor </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.valor | currency:'R$':'symbol':'1.2-2':'pt'}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="origem">
        <mat-header-cell *matHeaderCellDef> Valor </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.origem}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="categoria">
        <mat-header-cell *matHeaderCellDef> Valor </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{getCategory(element.categoria)}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="mes_lancamento">
        <mat-header-cell *matHeaderCellDef> Valor </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{getMonth(element.mes_lancamento)}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumnsReleases"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumnsReleases;"></mat-row>
</mat-table>